// В этом файле должны быть стили для БЭМ-блока modal, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.overlay {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
  //background: rgba(0, 0, 0, .5);
  background: rgba(51, 57, 75, .7);
}

.advantages-sun-system {
  text-align: left;
  background: $white;
  padding: 30px 40px 45px;
  max-width: 670px;
  color: #4b5160;
  h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    padding-bottom: 20px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 30px;
    span {
      font-weight: 800;
    }
  }
}

.modal-btn {
  display: flex;
  align-items: center;
  .accept-btn {
    width: 70%;
    margin-right: 30px;
    color: $white;
    background-color: $light-blue;
  }
  .backward-btn {
    width: 30%;
    background: $light-gray;
    color: $dark-blue;
    position: relative;
    cursor: pointer;
    &:before {
      position: absolute;
      content: '';
      width: 9px;
      height: 9px;
      border-top: 1px solid #747a86;
      border-left: 1px solid #747a86;
      margin-left: -13px;
      top: 50%;
      transform: rotate(-45deg) translateY(-50%);

    }
  }
  a {
    padding: 17px 0;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
  }
}

//.close-btn {
//  position: absolute;
//  display: block;
//  width: 27px;
//  height: 23px;
//  background: rgba(50, 57, 74, .4);
//  color: $white;
//  text-align: center;
//  border-radius: 2px;
//  top: 0;
//  right: -37px;
//  cursor: pointer;
//}
//
//.close-btn:after {
//  width: 14px;
//  transform: rotate(45deg);
//  height: 1px;
//  background: #fff;
//  position: absolute;
//  content: '';
//  top: 11px;
//  left: 7px;
//}
//
//.close-btn:before {
//  width: 14px;
//  transform: rotate(-45deg);
//  height: 1px;
//  background: #fff;
//  position: absolute;
//  content: '';
//  top: 11px;
//  left: 7px;
//}

@media (max-width: 767px) {
  .advantages-sun-system {
    width: calc(100% - 20px);
    max-width: 100%;
    height: auto;
    padding: 15px 8px 35px;
  }
  .modal-btn {
    flex-direction: column;
    .accept-btn {
      margin: 0 0 10px;
    }
    .backward-btn, .accept-btn {
      width: 100%;
    }
  }
}


