<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/modal/modal.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->


<div class="remodal advantages-sun-system" data-remodal-id="modal-3">
    <button data-remodal-action="close" class="remodal-close close-btn"></button>
    <h3>Економія на опаленні завдяки сонячній електростанції</h3>
    <p>Звертаємо увагу, що використовувати сонячну електростанцію для електроопалення або підігріву води електробойлером
        - не доцільно. Це може мати зміст лише тоді, якщо для опалення ви використовуєте тепловий насос. І то, не
        завжди.</p>
    <p>Проте ви можете економити на опаленні наступним чином:</p>
    <p>ви можете встановити <span>мережеву сонячну електростанцію</span> для продажу електроенергії по "зеленому" тарифу. Таким чином
        протягом літа на ваш рахунок буде нараховано достатню суму грошей, щоб у зимній період можна було повністю
        покрити рахунки за опалення.</p>

    <div class="modal-btn">
        <a href="#" class="accept-btn remodal-confirm" data-remodal-action="confirm">Дізнатися вартість мережевої станції</a>
        <a class="backward-btn remodal-cancel" data-remodal-action="cancel">Назад</a>
    </div>
</div>

