<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/subscription-mailing/subscription-mailing.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->


<div class="remodal subscription-popup" data-remodal-id="modal-4">
    <button data-remodal-action="close" class="remodal-close close-btn"></button>
    <h3>Підписка на розсилку</h3>
    <p>Ви зможете відписатися в будь-який момент</p>

    <label for="subscription-email">E-mail:</label>
    <input type="text" id="subscription-email">
    <div class="modal-btn">
        <a href="#" class="accept-btn remodal-confirm" data-remodal-action="confirm">Підписатися</a>
        <a class="backward-btn remodal-cancel" data-remodal-action="cancel">Назад</a>
    </div>
</div>

