<!--DEV

Нужно убрать пробел между @-ами:

@ @include('blocks/page-footer/page-footer.html')

-->
<footer class="page-footer-wrap" role="contentinfo">
    <div class="container">
        <div class="page-footer">
            <!-- /.page-footer -->
            <p class="copyright">
                <a href="#">© joule.pro</a>
            </p>
            <div class="footer-contacts">
                <p class="contact-phone">
                   <a href="#"><img src="img/icon-phone.svg" alt="image">+38 (050) 074-54-65</a>
                </p>
                <p class="contact-mail">
                    <a href="#"><img src="img/icon-mail.svg" alt="image">support@joule.pro</a>
                </p>
            </div>
            <p class="installer-company"><a href="#">Компаніям-інсталяторам</a></p>
            <!-- /.contact-mail -->
            <!-- /.contact-phone -->
        </div>
    </div>
    <!-- /.footer-contacts -->
    <!-- /.copyright -->

    <!-- /.company-social -->
</footer>
