<!--DEV

Нужно убрать пробел между @-ами:

@ @include('blocks/remind-password-popup/remind-password-popup.html')

-->

<div class="remodal registration-facebook" data-remodal-id="modal-2">
    <button data-remodal-action="close" class="remodal-close close-btn"></button>
    <h3>Забули пароль?</h3>
    <div class="enter-email">
        <p>Введіть Ваш e-mail, і ми надішлемо Вам на пошту
            посилання для відновлення паролю</p>
        <label for="input-email">E-mail:</label>
        <input type="text" placeholder="E-mail" id="input-email" >
        <div class="forgot-password-btn">
            <a href="#" class="accept-btn remodal-confirm" data-remodal-action="confirm">Надіслати</a>
            <a class="backward-btn remodal-cancel" data-remodal-action="cancel">Назад</a>
        </div>
    </div>
</div>



